<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Pacientes</title>
  </head>
  <body>
    <h1>Lista de Pacientes</h1>
    {% if pacientes %}
    <ul>
      {% for paciente in pacientes %}
      <li>
        {{ paciente.nombre }} {{ paciente.apellido }} -
        <a href="#">Ver Historial</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No hay pacientes registrados.</p>
    {% endif %}
  </body>
</html>
